{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icone.png">
    <link rel="stylesheet" href="/static/css/home/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/home/crudPage/">ir para crudPage</a>
    <br>
    <button style="font-size: 25px; background-color: #fccb6f;">Ir para o Gerenciador</button>
</body>
</html>
{{ end }}